services:
  - type: web
    name: safeandsound-frontend
    env: node
    rootDir: frontend
    buildCommand: npm install && npm run build
    startCommand: node ./dist/server/entry.mjs
    envVars:
      - key: NODE_VERSION
        value: 20
      - key: PORT
        value: 3000
