<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/compare" />
    <title>Redirigiendo...</title>
  </head>
  <body>
    <script>
      window.location.href = "/compare";
    </script>
  </body>
</html>
